// begin blog
section.blog.section#blog
    .container
        header.section-header
            .row
                .offset-lg-1.col-lg-10.offset-md-0.col-md-12.col-sm-12
                    h2.h2.blog__title
                        i.fa.fa-newspaper-o
                        | Our blog
                    .section-subtitle-text
                        p.
                            Uaerat litora, taciti quaerat dolor ligula laoreet omnis aut scelerisque ex fuga platea eveniet pulvinar praesent molestiae maiores, quidem 
                            cumque! some area deom test add here fo r omny demo chaeeking i this its better for your cuminss
        .row
            .col-lg-4.col-md-6.col-sm-12
                // begin blog-item
                .blog-item
                    include ../modules/svg-triangles
                    .blog-item__img(style="background-image: url(img/blog/1.jpg);")
                    .blog-item__body
                        h5.blog-item__title
                            a(href="javascript:void(0);").blog-item__link
                                |Our new design it
                        // begin blog-panel
                        ul.blog-item__panel.blog-panel
                            li.blog-panel__item
                                a(href="javascript:void(0);").blog-item__link 
                                    i.fa.fa-calendar
                                    time(datetime="2018-02-12") 12th Feb
                            li.blog-panel__item
                                a(href="javascript:void(0);").blog-item__link
                                    i.fa.fa-user
                                    |Admin
                            li.blog-panel__item
                                a(href="javascript:void(0);").blog-item__link
                                    i.fa.fa-comments
                                    |3 Comments
                        // end blog-panel
                        .blog-item__text
                            p.
                                ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam 
                                eius modi tempora incidunt quaerat voluptatem.
                        a(href="javascript:void(0);").blog-item__jump-link Read more...
                // end blog-item
            .col-lg-4.col-md-6.col-sm-12
                // begin blog-item
                .blog-item
                    include ../modules/svg-triangles
                    .blog-item__img(style="background-image: url(img/blog/2.jpg);")
                    .blog-item__body
                        h5.blog-item__title
                            a(href="javascript:void(0);").blog-item__link
                                |Our new design it
                        // begin blog-panel
                        ul.blog-item__panel.blog-panel
                            li.blog-panel__item
                                a(href="javascript:void(0);").blog-item__link 
                                    i.fa.fa-calendar
                                    time(datetime="2018-02-12") 12th Feb
                            li.blog-panel__item
                                a(href="javascript:void(0);").blog-item__link
                                    i.fa.fa-user
                                    |Admin
                            li.blog-panel__item
                                a(href="javascript:void(0);").blog-item__link
                                    i.fa.fa-comments
                                    |3 Comments
                        // end blog-panel
                        .blog-item__text
                            p.
                                ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam 
                                eius modi tempora incidunt quaerat voluptatem.
                        a(href="javascript:void(0);").blog-item__jump-link Read more...
                // end blog-item
            .col-lg-4.d-md-none.d-lg-block.col-sm-12
                // begin blog-item
                .blog-item
                    include ../modules/svg-triangles
                    .blog-item__img(style="background-image: url(img/blog/3.jpg);")
                    .blog-item__body
                        h5.blog-item__title
                            a(href="javascript:void(0);").blog-item__link
                                |Our new design it
                        // begin blog-panel
                        ul.blog-item__panel.blog-panel
                            li.blog-panel__item
                                a(href="javascript:void(0);").blog-item__link 
                                    i.fa.fa-calendar
                                    time(datetime="2018-02-12") 12th Feb
                            li.blog-panel__item
                                a(href="javascript:void(0);").blog-item__link
                                    i.fa.fa-user
                                    |Admin
                            li.blog-panel__item
                                a(href="javascript:void(0);").blog-item__link
                                    i.fa.fa-comments
                                    |3 Ccomments
                        // end blog-panel
                        .blog-item__text
                            p.
                                ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam 
                                eius modi tempora incidunt quaerat voluptatem.
                        a(href="javascript:void(0);").blog-item__jump-link Read more...
                // end blog-item
// end blog