// begin info
section.info.section
    .container
        .row
            .col-lg-5.col-md-6.col-sm-12.col-12
                .info__img(style="background-image: url(img/info/person.jpg);")
                    include ../modules/svg-triangles.pug
            .col-lg-7.col-md-6.col-sm-12.col-12
                .info__text
                    header.info__header
                        h3.h3.info__title Hello
                        h4.h4.info__subtitle Meet our company m.d
                    .section-text
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper, 
                            lectus in lacinia aliquam, velit erat rutrum mauris, et interdum turpis purus 
                            sed arcu. Maecenas ornare augue vitae dui eleifend pharetra. Aliquam posuere 
                            turpis at varius fringilla. Vestibulum ut ipsum dignissim sem congue accumsan. 
                            Vestibulum hendrerit mi orci, eu imperdiet nisi interdum nec. Donec nec ex blandit, 
                            imperdiet velit dictum.
                        p.
                            Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
                            per inceptos himenaeos. Praesent ut nulla est. Sed dapibus blandit mi ut 
                            facilisis. Praesent vel tellus tellus. Etiam ultrices orci velit, in consequat 
                            nulla ultrices non. Etiam finibus aliquet ipsum, id varius massa sollicitudin id. 
                            Quisque vulputate eu lacus at mollis. Vivamus suscipit volutpat dolor ac ornare.
                    .info__buttons
                        a(href="javascript:void(0);").info__btn More information our MD

// end info