// begin pricing
section.pricing.section
    .container
        header.section-header
            .row
                .offset-lg-1.col-lg-10.offset-md-0.col-md-12.col-sm-12
                    h2.h2
                        i.fa.fa-dollar
                        | Our pricing
                    .section-subtitle-text
                        p.
                            Uaerat litora, taciti quaerat dolor ligula laoreet omnis aut scelerisque ex fuga platea eveniet pulvinar praesent molestiae maiores, quidem 
                            cumque! some area deom test add here fo r omny demo chaeeking i this its better for your cuminss
        .row
            .col-lg-4.col-md-6.col-sm-12.col-12
                // begin price-item
                .pricing-item
                    include ../modules/svg-triangles
                    .pricing-item__status Basic
                    .pricing-item__expensive $105
                    .pricing-item__period Per month
                    // begin pricing-features
                    ul.pricing__list.pricing-features
                        li.pricing-features__item 23/4 teach support
                        li.pricing-features__item per project
                        li.pricing-features__item 11 GB Storages
                        li.pricing-features__item Unlimited User
                    // end pricing-features
                    a(href="javascript:void(0);").button.pricing-item__btn Sign Up
                // end pricing-item
            .col-lg-4.col-md-6.col-sm-12.col-12
                // begin pricing-item
                .pricing-item
                    include ../modules/svg-triangles
                    .pricing-item__status Basic
                    .pricing-item__expensive $105 
                    .pricing-item__period Per month
                    // begin pricing-features
                    ul.pricing__list.pricing-features
                        li.pricing-features__item 23/4 teach support
                        li.pricing-features__item per project
                        li.pricing-features__item 11 GB Storages
                        li.pricing-features__item Unlimited User
                    // end pricing-features
                    a(href="javascript:void(0);").button.pricing-item__btn Sign Up
                // end pricing-item
            .col-lg-4.d-md-none.d-lg-block.col-sm-12.col-12
                // begin pricing-item
                .pricing-item
                    include ../modules/svg-triangles
                    .pricing-item__status Basic
                    .pricing-item__expensive $105
                    .pricing-item__period Per month
                    // begin pricing-features
                    ul.pricing__list.pricing-features
                        li.pricing-features__item 23/4 teach support
                        li.pricing-features__item per project
                        li.pricing-features__item 11 GB Storages
                        li.pricing-features__item Unlimited User
                    // end pricing-features
                    a(href="javascript:void(0);").button.pricing-item__btn Sign Up
                // end pricing-item
// end pricing