// begin testimonials
section.testimonials.section(style="background-image: url(img/testimonials/bg.jpg);")
    .container
        .row
            .col-12
                h2.testimonials__title Testimonials
        // begin testis
        ul.testis
            li.testi
                .row
                    .offset-lg-1.col-lg-10
                        .testi__img(style="background-image: url(img/testimonials/1.jpg);")
                            include ../modules/svg-triangles
                        blockquote.testi__text
                            p
                                sup 
                                    i.fa.fa-quote-left.fa-left
                                |On the other hand, we denounce with righteous indignation and 
                                |dislike men who are so beguiled and demoralized by the charms of pleasure of 
                                |the moment, so blinded by desire.
                                sup 
                                    i.fa.fa-quote-right.fa-right
                        cite.testi__author Sultana Harmadji
            li.testi
                .row
                    .offset-md-1.col-md-10.offset-sm-0.col-sm-12.col-12
                        .testi__img(style="background-image: url(img/testimonials/2.jpg);")
                            include ../modules/svg-triangles
                        blockquote.testi__text
                            p
                                sup 
                                    i.fa.fa-quote-left.fa-left
                                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                                |Autem quasi atque officiis praesentium voluptatum consequatur odit, voluptate ipsa labore aperiam.
                                sup
                                    i.fa.fa-quote-right.fa-right
                        cite.testi__author Gregory So
            li.testi
                .row
                    .offset-lg-1.col-lg-10
                        .testi__img(style="background-image: url(img/testimonials/3.jpg);")
                            include ../modules/svg-triangles
                        blockquote.testi__text
                            p
                                sup 
                                    i.fa.fa-quote-left.fa-left
                                |Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                |Quaerat impedit nesciunt ex, mollitia quae expedita exercitationem 
                                |minima nisi autem aliquam ab, non sint tempora!
                                sup 
                                    i.fa.fa-quote-right.fa-right
                        cite.testi__author Reigar Targarien
        // end testis
// end testimonials