// begin working-idea
section.working-idea.section(style="background-image: url(img/working-idea/bg.jpg);")#work
    .container
        .offset-lg-2.col-lg-8.offset-md-1.col-md-10.offset-sm-0.col-sm-12.col-12
            h2.working-idea__title Work with us
            h4.working-idea__subtitle I provide the best quality work for you
            .working-idea__text
                p.
                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. 
                    Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt
            .working-idea__btns.set-buttons
                a(href="javacript:void(0);").button.set-buttons__btn See more
            
// end working-idea